/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-ene-2016, 19:57:18
    Author     : Darren
*/
/*
.movimiento {
    width: 121px;
    height: 181px;
    position: relative;
    top: 100px;
    left: 300px;
    background: red;
    
    transition: all 3s;
    
}

.movimiento:hover{
    
    transform: rotate(90deg) scale(1);
    background: orange;
}*/
